---
import Layout from "../layouts/HomeLayout.astro";
import { Content } from "../markdown/home.md";
---

<Layout title="Ryan Chung - Software Developer">
  <div class="page-container">
    <div class="text-container">
      <Content />
      <div class="links-container">
        <a href="https://www.linkedin.com/in/ryanckc/" target="_blank"
          >LinkedIn</a
        > ✦
        <a href="https://github.com/ryangchung" target="_blank">GitHub</a> ✦
        <a
          href="./Ryan_Chung_November_2024.pdf"
          target="_blank"
          type="application/pdf">Resume</a
        > ✦
        <a href="mailto://ryan.chung.cs@gmail.com" target="_blank">Email</a>
      </div>
    </div>
  </div>
</Layout>

<style>
  .page-container {
    background-color: #232d25;
    color: #fefaf4;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    max-width: 550px;
    font-size: 20px;
    padding: 32px 16px;
  }

  .text-container p {
    font-style: italic;
    font-weight: bold;
  }

  .links-container {
    display: flex;
    gap: 24px;
    font-size: 18px;
  }
</style>
