:root {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}

a,
a:visited {
    color: inherit;
}